/*Seletor Universal*/
*{
    margin: 0;
    padding: 0;
}
/*CORPO DO TEXTO*/
body{
    font-family: sans-serif;
    font-family: 'Inter';
}
/*Cabeçalho*/

.cabecalho{
    background-color: #B21C1C;
    color: white;
    display: flex;
    padding: 24px;
    font-size: 30px;
    justify-content: space-around;

}

.cabecalho-titulo{
    font-size: 64px;
    text-decoration: underline;

}

.cabecalho-item{
    display: inline-block;
    padding: 0px 30px;
    font-weight: bold;
}

/*TURMA*/
.turma{
    background-image: linear-gradient(#C92626,#c9262600);
    font-size: 30px;
    padding: 80px 130px;
    
}
.turma-titulo{
    padding-bottom: 50px;
    text-align: center;
}

.turma-div{
    display: flex;
    justify-content: space-around;
    padding: 25px 80px;
}

.turma-imagem{
    width: 349px;
    height: 240px;
    
}
/*SEÇÃO ALUNOS*/

.aluno{
    background-color: white;
    text-align: center;
}

.aluno-titulo{
    text-align: center;
    color: red;
    font-size: 48px;
    font-weight: bold; 
    padding: 20px 0;
    
}

.aluno-div-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.aluno-div{
    padding: 30px;
}

.aluno-imagem{
    width: 224px;
    height: 154px;
    
}

.aluno-icone{
    width: 45px;
    height: 42px;
}

/*seção rodapé*/

.rodape{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}